@media (max-width: 576px) {
  #food-detail{
    margin-top: 125px;
  }

  #food-title{
    font-size: 30px;
  }

  #name-food {
    font-size: 25px;
    text-transform: capitalize;
  }

  #details {
    width: 85%;
    margin: auto;
  }

  #measure-food{
    font-family: 'Montserrat';
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  #food-detail{
    margin-top: 150px;
  }

  #food-title{
    font-size: 40px;
  }

  #name-food {
    font-size: 35px;
    text-transform: capitalize;
  }

  #measure-food{
    font-family: 'Montserrat';
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  #food-detail{
    margin-top: 90px;
  }
}

@media (min-width: 910px) {
  #food-detail{
    margin-top: 85px;
  }
}

#food-title{
  font-family: 'Mochiy Pop P One';
  text-align: center;
  color: #00943a;
  text-shadow: 5px 5px 10px cadetblue;
}

p#name-food {
  font-family: 'Montserrat';
  text-transform: capitalize;
}

#details{
  background-color: white;
  border-radius: 10px;
  font-family: 'Montserrat';
}

#type-measure{
  text-transform: capitalize;
}