@media (min-width: 10px) {
  #recipe-detail{
    margin-top: 115px;
  }

  #title-recipe h1{
    font-size: 22px;
  }

  #img-recipe{
    width: 200px;
  }

  #img-ingredient{
    width: 90px;
  }

  #recipe{
    width: 85%;
    margin: auto;
  }

  #title-ing{
    text-align: center;
  }
}

@media (max-width: 576px) {
  #recipe{
    width: 85%;
    margin: auto;
  }

  div#nutri-table {
    background-color: white;
    width: 85%;
    margin: auto;
    font-family: 'Montserrat';
}
}

@media (min-width: 576px) {
  #recipe-detail{
    margin-top: 115px;
  }

  #title-recipe h1{
    font-size: revert;
  }

  #img-recipe{
    width: 350px;
  }

  #img-ingredient{
    width: 150px;
  }

  #recipe{
    width: fit-content;
  }

  div#nutri-table {
    background-color: white;
    width: fit-content;
    margin: auto;
    font-family: 'Montserrat';
}
}

@media (min-width: 768px) {
  #recipe-detail{
    margin-top: 75px;
  }

  #title-recipe{
    margin-bottom: 30px;
  }
  
  #title-ing{
    text-align: center;
  }

  #recipe{
    width: fit-content;
  }
}

#recipe-detail {
  margin-bottom: 30px;
  // margin-top: 75px;
}

#title-recipe{
  font-family: 'Mochiy Pop P One';
  color: #00943a;
  text-shadow: 1px 1px 30px darkgray;
  text-align: center;
  margin: 0px 10px;
}

#img-ingredient{
  border-radius: 25px;
  margin: auto;
}

#img-recipe{
  margin: auto;
  box-shadow: 1px 1px 40px #00943a;
  border-radius: 15px;
}

#recipe{
  font-family: 'Montserrat';
}

#msg-info{
  text-align: center;
}

#show-info{
  font-family: 'Montserrat';
}