#custom-nutrition-analysis {
  font-family: 'Montserrat';
}

@media (max-width: 576px) {
  #custom-nutrition-analysis {
    margin-top: 150px;
  }

  #title-n-a{
    margin-bottom: 10%;
  }

  #t-n-a{
    font-size: 35px;
  }

  #text-a{
    width: 250px;
    height: 100px;
  }

  #info-use{
    margin: auto;
    width: 85%;
  }
}

@media (min-width: 576px) {
  #custom-nutrition-analysis {
    margin-top: 150px;
  }

  #title-n-a{
    margin-bottom: 5%;
  }

  #t-n-a{
    font-size: 45px;
  }

  #text-a{
    width: 500px;
    height: 200px;
  }

  #info-use{
    margin: auto;
    width: 85%;
  }
}

@media (min-width: 768px) {
  #custom-nutrition-analysis {
    margin-top: 90px;
  }
}

@media (min-width: 910px) {
  #custom-nutrition-analysis {
    margin-top: 85px;
  }
}

#title-n-a{
  font-family: 'Mochiy Pop P One';
  color: #00943a;
  text-align: center;
}
