<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&family=Montserrat:wght@100;500&family=Oxygen:wght@300&display=swap" rel="stylesheet">

<div id="recipe-detail" v-cloak>

  <!-- <a class="nav-item nav-link ml-2 mr-2" href="/">Main</a> -->

  <div class="d-flex justify-content-center">

    <div>
      
      <br>

      <div class="d-flex justify-content-center" id="title-recipe">
        <h1>Recipe - {{ recipe.label }}</h1>
      </div>

      <br>

      <img
        class="d-flex justify-content-center"
        id="img-recipe"
        :src="recipe.image"
        alt="Card image cap"
      />

      <br>
      <br>

      <div id="info-nutri-button"  v-if="this.me">
        <div class="d-flex justify-content-center" id="show-info">
          <div>
            <button class="btn btn-success" @click="getNutritionAnalysis()" type="button">
              Check nutritional information
            </button>
          </div>
        </div>

        <div v-if="show" id="nutri-table" class="d-flex justify-content-center">
          <table class="table">
            <thead>
              <tr>
                <th>{{info}}</th>
                <th>{{quantity}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="nut in nutrition.totalDaily">
                <td>{{nut.label}}</td>
                <td>{{nut.quantity}} {{nut.unity}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-else>

        </div>
<!-- 
        <div>
          <ul class="list-group">
            <li v-for="nut in nutrition.totalDaily" class="list-group-item">
              {{nut.label}}
            </li>
          </ul>
        </div> -->
      </div> 

      <div id="msg-info" class="d-flex justify-content-center" v-else>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>    
          If you want nutrition analysis for this recipe, <a href="\login">login</a> or <a href="\signup">signup!</a>
        </div>
      </div>

      <br>
      <br>

      <ul class="list-group list-group-horizontal" id="recipe">

        <li id="title-ing" class="list-group-item">
          <h3>
            <b>Ingredients</b>
          </h3>
        </li>

        <li class="list-group-item" v-for="ingredient in recipe.ingredients">
          
          <div class="container">
            <div class="row">
              <div class="col-7">
                {{ingredient.text}}
              </div>
              <div class="col-5">
                <img id="img-ingredient"
                  :src="ingredient.image"
                  alt="Card image cap"
                />
              </div>
            </div>
          </div>
          
        </li>
        <!-- <li class="list-group-item">{{ingredient.quantity}}</li>
        <li class="list-group-item">{{ingredient.food}}</li> -->
      </ul>
    </div>
  </div>

  <br>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
