<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat&family=Fjalla+One&family=Oxygen&family=Balsamiq+Sans&display=swap" rel="stylesheet">

<div id="confirmed-email" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Email confirmed</h1>
    <div style="max-width: 450px;" class="mx-auto text-center">
      <hr/>
      <p>Congratulations, your account is now verified! You now have full access to your account.</p>
      <p><a class="btn btn-outline-info" href="/">To my dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
