@footer-height: 40px;
@container-md-max-width: 1100px;

[v-cloak] { display: none; }

html, body {
  height: 100%;
  margin: 0;
}

[purpose='page-wrap'] {
  height: 100%;
  /* lesshint-disable */height: auto !important;/* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;
}

[purpose='page-footer'] {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

@media (min-width: 800px) {
  div#signup {
    margin-top: 40px;
    font-family: 'Montserrat';
  }
}

@media (max-width: 800px) {
  [purpose='page-wrap'] {
    padding-bottom: 75px;
    [purpose='page-footer'] {
      height: 75px;
      [purpose='footer-copy'], [purpose='footer-nav'] {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }

  div#signup {
    margin-top: 75px;
    font-family: 'Montserrat';
  }
}

@media (max-width: 575px) {
  [purpose='page-wrap'] {
    padding-bottom: 100px;
    [purpose='page-footer'] {
      height: 100px;
    }
  }

  div#signup {
    margin-top: 90px;
    font-family: 'Montserrat';
  }
}

div#login {
  margin-top: 100px;
  font-family: 'Montserrat';
}

#nb-ly {
  font-family: 'Montserrat';
}

@media (max-width: 576px) {
  #forgot-password{
    margin-top: 125px;
  }

  #account-overview{
    margin-top: 85px;
  }

  #edit-profile{
    margin-top: 85px;
  }

  #edit-password{
    margin-top: 85px;
  }

  #account-menu{
    display: block;
  }

  #hamburguer{
    margin-right: 170px;
  }

  #analisis{
    display: none;
    size: 0px;
  }

  #analisis-m{
    color: #fff;
  }

  #analisis-m:hover{
    color: #7aca25;
  }
}

@media (min-width: 576px) {
  #forgot-password{
    margin-top: 150px;
  }

  #account-overview{
    margin-top: 100px;
  }

  #edit-profile{
    margin-top: 100px;
  }

  #edit-password{
    margin-top: 100px;
  }

  #drop-mobile{
    display: none;
  }

  #account-menu{
    display: none;
    size: 0px;
  }

  #analisis-m{
    display: none;
    size: 0px;
  }

}

@media (min-width: 768px) {
  #forgot-password{
    margin-top: 90px;
  }

  #account-overview{
    margin-top: 90px;
  }

  #edit-profile{
    margin-top: 90px;
  }

  #edit-password{
    margin-top: 90px;
  }
}

@media (min-width: 910px) {
  #forgot-password{
    margin-top: 85px;
  }

  #account-overview{
    margin-top: 85px;
  }

  #edit-profile{
    margin-top: 85px;
  }

  #edit-password{
    margin-top: 85px;
  }
}

#forgot-password{
  font-family: Montserrat;
}

#account-overview{
  font-family: Montserrat;
}

#edit-profile{
  font-family: Montserrat;
}

#edit-password{
  font-family: Montserrat;
}

.page-link{
  color: #00943a;
}

.page-link:hover{
  color: #7aca25;
}

#signup-button{
  color: #7aca25;
  border-color: #7aca25;
}

#signup-button:hover{
  color: #fff;
  border-color: #00943a;
}

#signup-movil{
  color: #fff;
}

#signup-movil:hover{
  color: #7aca25;
}

a#button-analisis {
  margin-right: 40px;
}