<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat&family=Fjalla+One&family=Oxygen&family=Balsamiq+Sans&display=swap" rel="stylesheet">

<div id="custom-nutrition-analysis" v-cloak>
  
  <div class="d-flex justify-content-center">
    
    <div>
      <div id="title-n-a">
        <h1 id="t-n-a">Custom Nutrition Analysis</h1>
      </div>

      <div id="info-use">
        <h3>How to: </h3>
        <div class="alert alert-info" role="alert">
          Enter an ingredient list for what you are cooking like <em>1 cup rice</em> or
            <em>1 cup frozen blackberries</em> 
          Enter each ingredient on a new line.
        </div>
  
        <div>
          <b>Here is an example you can try:</b>
          <br>
          <br>
            <span>1 large ripe Ataulfo mango, peeled and roughly chopped (about 1 cup) </span> <br>
            <span>1 cup frozen blackberries (4 1/2 ounces)</span> <br>
            <span> 1 cup plain unsweetened kefir </span> <br>
          
        </div>
      </div>

      <br>
      <br>

      <div class="d-flex justify-content-center">
        <div>
          <div id="v-model-textarea" class="demo">
            <!-- <span>Multiline message is:</span>
            <p style="white-space: pre-line">{{ ingredientsLines }}</p>
            <br /> -->
            <textarea
              id="text-a"
              v-model="ingredientsLines"
              placeholder="add multiple lines"
            >
            </textarea>
          </div>

          <br>
    
          <div style="text-align: center;">
            <button class="btn btn-success" type="button" @click="getNutritionAnalysis()" >
              Give my nutrition analysis
            </button>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div v-if="show" id="nutri-table" class="d-flex justify-content-center">

        <table class="table">
          <thead>
            <tr>
              <th>{{ info }}</th>
              <th>{{ quantity }}</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="nut in nutrition.totalDaily">
              <td>{{ nut.label }}</td>
              <td>{{ nut.quantity }} {{ nut.unity }}</td>
            </tr>
          </tbody>

        </table> 

      </div>
    </div>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>
