#homepage {

  [purpose='cloud-1'] {
    .fly-fade();
    opacity: 0;
    }
  [purpose='cloud-2'] {
    .fly-fade();
    .animation-delay(3.5s);
    opacity: 0;
  }
  [purpose='ship'] {
    .skid();
  }
  [purpose='more-info-text'] {
    .bob();
  }
  [purpose='setup-step'] {
    padding-left: 240px;
  }

  @media (max-width: 991px) {
    [purpose='setup-step'] {
      padding-left: 0px;
    }
  }
}

body {
  background-color: rgb(212, 228, 225);
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

#title{
  margin-top: 15px;
}

@media (max-width: 576px) {
  .row{
    text-align: center;
  }

  #title{
    text-align: center;
  }

  #homepage{
    margin-top: 150px;
  }

  #cards{
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 576px) {
  #homepage{
    margin-top: 150px;
  }
}

@media (min-width: 768px) {
  #homepage{
    margin-top: 90px;
  }
}

@media (min-width: 910px) {
  #homepage{
    margin-top: 85px;
  }
}

#head{
  color: #00943A;
  text-shadow: 1px 1px 2px #444a5a;
  margin-top: 1%;
  margin-bottom: 3%;
  font-family: 'Mochiy Pop P One';
  font-size: 30px;
}

#change-view{
  font-family: 'Montserrat';
}

img.logo {
  height: 35px;
  // border-radius: 5px;
}

div#change-option{
  padding: 5px 0 15px 0;
}

header.navbar.navbar-expand-sm.navbar-dark.bg-dark.flex-column.flex-md-row.justify-content-between {
  box-shadow: 0px 2px 20px #44aa5a;
}

.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Montserrat';
  font-weight: bold;
}

#card-recipe:hover {
  background-color: #00943A;
  cursor: pointer;
  color: #fff;
}

img.card-img-top {
  border-radius: 8%;
}

div#card-recipe {
  padding-top: 1.5%;
  // height: 100px;
}

li#type:hover {
  color: #444a5a;
  border-radius: 10px;
}

#b-busqueda{
  margin-left: 0px;
  border-radius: 5px;
  border-width: thin;
  border-color: #7aca25;
  width: 100%;
}

#info-food{
  font-size: small;
}

#food-search{
  font-family: 'Montserrat';
}

.navbar-nav.flex-row {
  font-family: 'Montserrat';
  font-weight: bold;
}

#filter * { list-style:none;}
ul#filter { padding-left: 0%;}
#filter li{ line-height:180%;}
#filter input[name="diet_list"] {
  position: absolute;
  left: -1000em;
}
#filter input[name="health_list"] {
  position: absolute;
  left: -1000em;
}
#filter input[name="cuisineType_list"] {
  position: absolute;
  left: -1000em;
}
#filter input[name="mealType_list"] {
  position: absolute;
  left: -1000em;
}
#filter input[name="dishType_list"] {
  position: absolute;
  left: -1000em;
}
#filter input[name="category_list"] {
  position: absolute;
  left: -1000em;
}

#item-list-filter{
  font-family: Montserrat;
}

#filter #diet:before{ content:"\02b"; font-weight: bolder; font-family: 'Mo'; color: #00943A; margin-right:4px;}
#filter #health:before{ content:"\02b"; font-weight: bolder; font-family: 'Mo'; color: #00943A; margin-right:4px;}
#filter #cuisineType:before{ content:"\02b"; font-weight: bolder; font-family: 'Mo'; color: #00943A; margin-right:4px;}
#filter #mealType:before{ content:"\02b"; font-weight: bolder; font-family: 'Mo'; color: #00943A; margin-right:4px;}
#filter #dishType:before{ content:"\02b"; font-weight: bolder; font-family: 'Mo'; color: #00943A; margin-right:4px;}

#filter #diet {font-family: 'Montserrat'; }
#filter #health {font-family: 'Montserrat'; }
#filter #cuisineType {font-family: 'Montserrat'; }
#filter #mealType {font-family: 'Montserrat'; }
#filter #dishType {font-family: 'Montserrat'; }

#filter input:checked ~ #diet:before{ content:"\02013";font-weight: bolder; color: #44a5a;}
#filter input:checked ~ #health:before{ content:"\02013";font-weight: bolder; color: #44a5a;}
#filter input:checked ~ #cuisineType:before{ content:"\02013";font-weight: bolder; color: #44a5a;}
#filter input:checked ~ #mealType:before{ content:"\02013";font-weight: bolder; color: #44a5a;}
#filter input:checked ~ #dishType:before{ content:"\02013";font-weight: bolder; color: #44a5a;}

#filter .interior{ display: none;}
#filter input:checked ~ ul{ display:block; padding-left: 4%;}

#measure-title{
  font-family: 'Montserrat';
  font-weight: lighter;
}

#measures label{
  font-family: 'Montserrat';
}

#pagintaion button{
  font-family: 'Montserrat';
}

.btn.btn-success {
  font-family: 'Montserrat';
}