<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat&family=Fjalla+One&family=Oxygen&family=Balsamiq+Sans&display=swap" rel="stylesheet">

<div class="container" id="homepage" v-cloak>

  <!-- <button type="button" @click="goToCustomAnalysis()">Custom Nutrition Analysis</button> -->

  <div id="title">
    <h1 id="head">{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">

      <div class="btn-group btn-group-toggle" id="change-option" data-toggle="buttons">
        <label @click="toggleTrue()" id="change-view" class="btn btn-success active">
          <input  type="radio" name="options" id="option1" autocomplete="off" checked> Recipes
        </label>
        <label @click="toggleFalse()" id="change-view" class="btn btn-success">
          <input  type="radio" name="options" id="option2" autocomplete="off"> Food
        </label>
      </div>

      <ul v-if="toggle" id="filter">

        <li id="type">
          <input type="checkbox" name="diet_list" id="diet_list">
          <label id="diet" for="diet_list">Diet</label>
    
          <ul class="interior">

            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="balanced" name="diet" v-model="diet" value="balanced">
                <label id="item-list-filter" for="balanced">Balanced</label>
              </div>
            </li>
            
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="high-fiber" name="diet" v-model="diet" value="high-fiber">
                <label id="item-list-filter" for="high-fiber">High Fiber</label>
              </div>
            </li>

            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="high-protein" name="diet" v-model="diet" value="high-protein">
                <label id="item-list-filter" for="high-protein">High Protein</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="low-carb" name="diet" v-model="diet" value="low-carb">
                <label id="item-list-filter" for="low-carb">Low Carb</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="low-fat" name="diet" v-model="diet" value="low-fat">
                <label id="item-list-filter" for="low-fat">Low Fat</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="low-sodium" name="diet" v-model="diet" value="low-sodium">
                <label id="item-list-filter" for="low-sodium">Low Sodium</label>
              </div>
            </li> 
          </ul>
        </li>
    
        <li id="type">
          <input type="checkbox" name="health_list" id="health_list">
          <label id="health" for="health_list">Health</label>
    
          <ul class="interior">
            <!-- <li>
              <p>Select a health:</p>
              <span>Picked: {{ health }}</span>
            </li> -->

            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="alcohol-cocktail" name="health" v-model="health" value="alcohol-cocktail">
                <label id="item-list-filter" for="alcohol-cocktail">Alcohol Cocktail</label>
              </div>
            </li>
            
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="alcohol-free" name="health" v-model="health" value="alcohol-free">
                <label id="item-list-filter" for="alcohol-free">Alcohol Free</label>
              </div>
            </li>

          <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="celery-free" name="health" v-model="health" value="celery-free">
                <label id="item-list-filter" for="celery-free">Celery Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="crustacean-free" name="health" v-model="health" value="crustacean-free">
                <label id="item-list-filter" for="crustacean-free">Crustacean Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="dairy-free" name="health" v-model="health" value="dairy-free">
                <label id="item-list-filter" for="dairy-free">Dairy Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="egg-free" name="health" v-model="health" value="egg-free">
                <label id="item-list-filter" for="egg-free">Egg Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="fish-free" name="health" v-model="health" value="fish-free">
                <label id="item-list-filter" for="fish-free">Fish Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="fodmap-free" name="health" v-model="health" value="fodmap-free">
                <label id="item-list-filter" for="fodmap-free">Fodmap Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="gluten-free" name="health" v-model="health" value="gluten-free">
                <label id="item-list-filter" for="gluten-free">Gluten Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="immuno-supportive" name="health" v-model="health" value="immuno-supportive">
                <label id="item-list-filter" for="immuno-supportive">Immuno Supportive</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="keto-friendly" name="health" v-model="health" value="keto-friendly">
                <label id="item-list-filter" for="keto-friendly">Keto Friendly</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="kidney-friendly" name="health" v-model="health" value="kidney-friendly">
                <label id="item-list-filter" for="kidney-friendly">Kidney Friendly</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="kosher" name="health" v-model="health" value="kosher">
                <label id="item-list-filter" for="kosher">Kosher</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="low-fat-abs" name="health" v-model="health" value="low-fat-abs">
                <label id="item-list-filter" for="low-fat-abs">Low Fat Abs</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="low-potassium" name="health" v-model="health" value="low-potassium">
                <label id="item-list-filter" for="low-potassium">Low Potassium</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="low-sugar" name="health" v-model="health" value="low-sugar">
                <label id="item-list-filter" for="low-sugar">Low Sugar</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="lupine-free" name="health" v-model="health" value="lupine-free">
                <label id="item-list-filter" for="lupine-free">Lupine Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="Mediterranean" name="health" v-model="health" value="Mediterranean">
                <label id="item-list-filter" for="Mediterranean">Mediterranean</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="mollusk-free" name="health" v-model="health" value="mollusk-free">
                <label id="item-list-filter" for="mollusk-free">Mollusk Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="mustard-free" name="health" v-model="health" value="mustard-free">
                <label id="item-list-filter" for="mustard-free">Mustard Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="no-oil-added" name="health" v-model="health" value="no-oil-added">
                <label id="item-list-filter" for="no-oil-added">No Oil Added</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="paleo" name="health" v-model="health" value="paleo">
                <label id="item-list-filter" for="paleo">Paleo</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="peanut-free" name="health" v-model="health" value="peanut-free">
                <label id="item-list-filter" for="peanut-free">Peanut Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="pescatarian" name="health" v-model="health" value="pescatarian">
                <label id="item-list-filter" for="pescatarian">Pescatarian</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="pork-free" name="health" v-model="health" value="pork-free">
                <label id="item-list-filter" for="pork-free">pork Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="red-meat-free" name="health" v-model="health" value="red-meat-free">
                <label id="item-list-filter" for="red-meat-free">Red Meat Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="sesame-free" name="health" v-model="health" value="sesame-free">
                <label id="item-list-filter" for="sesame-free">Sesame Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="shellfish-free" name="health" v-model="health" value="shellfish-free">
                <label id="item-list-filter" for="shellfish-free">Shellfish Free</label>
              </div>
    
            </li>
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="soy-free" name="health" v-model="health" value="soy-free">
                <label id="item-list-filter" for="soy-free">Soy Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="sugar-conscious" name="health" v-model="health" value="sugar-conscious">
                <label id="item-list-filter" for="sugar-conscious">Sugar Conscious</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="sulfite-free" name="health" v-model="health" value="sulfite-free">
                <label id="item-list-filter" for="sulfite-free">SulfiteFree</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="tree-nut-free" name="health" v-model="health" value="tree-nut-free">
                <label id="item-list-filter" for="tree-nut-free">Tree Nut Free</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="vegan" name="health" v-model="health" value="vegan">
                <label id="item-list-filter" for="vegan">Vegan</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="vegetarian" name="health" v-model="health" value="vegetarian">
                <label id="item-list-filter" for="vegetarian">Vegetarian</label>
              </div>
            </li>
      
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="wheat-free" name="health" v-model="health" value="wheat-free">
                <label id="item-list-filter" for="wheat-free">Wheat Free</label>
              </div>
            </li>

          </ul>
        </li>

        <li id="type">
          <input type="checkbox" name="cuisineType_list" id="cuisineType_list">
          <label id="cuisineType" for="cuisineType_list">Cuisine Type</label>
    
          <ul class="interior">
            <!-- <li>
              <p>Select a cuisineType:</p>
              <span>Picked: {{ cuisineType }}</span>
            </li> -->
  
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="american" name="cuisineType" v-model="cuisineType" value="american">
                <label id="item-list-filter" for="american">American</label>
              </div>
            </li>

            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="asian" name="cuisineType" v-model="cuisineType" value="asian">
                <label id="item-list-filter" for="asian">Asian</label>
              </div> 
            </li>
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="british" name="cuisineType" v-model="cuisineType" value="british">
                <label id="item-list-filter" for="british">British</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="caribean" name="cuisineType" v-model="cuisineType" value="caribean">
                <label id="item-list-filter" for="caribean">Caribean</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="central-europe" name="cuisineType" v-model="cuisineType" value="central-europe">
                <label id="item-list-filter" for="central-europe">Central Europe</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="chinese" name="cuisineType" v-model="cuisineType" value="chinese">
                <label id="item-list-filter" for="chinese">Chinese</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="eastern-europe" name="cuisineType" v-model="cuisineType" value="eastern-europe">
                <label id="item-list-filter" for="eastern-europe">Eastern Europe</label>
              </div>
            </li>  
            
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="french" name="cuisineType" v-model="cuisineType" value="french">
                <label id="item-list-filter" for="french">French</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="indian" name="cuisineType" v-model="cuisineType" value="indian">
                <label id="item-list-filter" for="indian">Indian</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="italian" name="cuisineType" v-model="cuisineType" value="italian">
                <label id="item-list-filter" for="italian">Italian</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="kosher" name="cuisineType" v-model="cuisineType" value="kosher">
                <label id="item-list-filter" for="kosher">Kosher</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="mediterranean" name="cuisineType" v-model="cuisineType" value="mediterranean">
                <label id="item-list-filter" for="mediterranean">Mediterranean</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="mexican" name="cuisineType" v-model="cuisineType" value="mexican">
                <label id="item-list-filter" for="mexican">Mexican</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="japanese" name="cuisineType" v-model="cuisineType" value="japanese">
                <label id="item-list-filter" for="japanese">Japanese</label>
              </div>
            </li>  
    
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="middle-eastern" name="cuisineType" v-model="cuisineType" value="middle-eastern">
                <label id="item-list-filter" for="middle-eastern">Middle Eastern</label>
              </div>
            </li>  
            
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="nordic" name="cuisineType" v-model="cuisineType" value="nordic">
                <label id="item-list-filter" for="nordic">Nordic</label>
              </div>
            </li>  
            
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="south-american" name="cuisineType" v-model="cuisineType" value="south-american">
                <label id="item-list-filter" for="south-american">South American</label>
              </div>
            </li>  
            
            <li>  
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="south-east-asian" name="cuisineType" v-model="cuisineType" value="south-east-asian">
                <label id="item-list-filter" for="south-east-asian">South East Asian</label>
              </div>
            </li>  

          </ul>
        </li>

        <li id="type">
          <input type="checkbox" name="mealType_list" id="mealType_list">
          <label id="mealType" for="mealType_list">Meal Type</label>
    
          <ul class="interior">
            <!-- <li>
              <p>Select a mealType:</p>
              <span>Picked: {{ mealType }}</span>
            </li> -->
  
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="breakfast" name="mealType" v-model="mealType" value="breakfast">
                <label id="item-list-filter" for="breakfast">Breakfast</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="dinner" name="mealType" v-model="mealType" value="dinner">
                <label id="item-list-filter" for="dinner">Dinner</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="lunch" name="mealType" v-model="mealType" value="lunch">
                <label id="item-list-filter" for="lunch">Lunch</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="snack" name="mealType" v-model="mealType" value="snack">
                <label id="item-list-filter" for="snack">Snack</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="teatime" name="mealType" v-model="mealType" value="teatime">
                <label id="item-list-filter" for="teatime">Teatime</label>
              </div>
            </li>

          </ul>
        </li>

        <li id="type">
          <input type="checkbox" name="dishType_list" id="dishType_list">
          <label id="dishType" for="dishType_list">Dish Type</label>
    
          <ul class="interior">
            <!-- <li>
              <p>Select a dishType:</p>
              <span>Picked: {{ dishType }}</span>
            </li> -->

            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="biscuits-and-cookies" name="dishType" v-model="dishType" value="biscuits-and-cookies">
                <label id="item-list-filter" for="biscuits-and-cookies">Biscuits And Cookies</label>
              </div>
            </li>
          
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="bread" name="dishType" v-model="dishType" value="bread">
                <label id="item-list-filter" for="bread">Bread</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="cereal" name="dishType" v-model="dishType" value="cereal">
                <label id="item-list-filter" for="cereal">Cereal</label>
              </div>
            </li>
            
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="condiments-and-sauces" name="dishType" v-model="dishType" value="condiments-and-sauces">
                <label id="item-list-filter" for="condiments-and-sauces">Condiments And Sauces</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="desserts" name="dishType" v-model="dishType" value="desserts">
                <label id="item-list-filter" for="desserts">Desserts</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="drinks" name="dishType" v-model="dishType" value="drinks">
                <label id="item-list-filter" for="drinks">Drinks</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="main-course" name="dishType" v-model="dishType" value="main-course">
                <label id="item-list-filter" for="main-course">Main Course</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="pancake" name="dishType" v-model="dishType" value="pancake">
                <label id="item-list-filter" for="pancake">Pancake</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="preps" name="dishType" v-model="dishType" value="preps">
                <label id="item-list-filter" for="preps">Preps</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="preserve" name="dishType" v-model="dishType" value="preserve">
                <label id="item-list-filter" for="preserve">Preserve</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="salad" name="dishType" v-model="dishType" value="salad">
                <label id="item-list-filter" for="salad">Salad</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="sandwiches" name="dishType" v-model="dishType" value="sandwiches">
                <label id="item-list-filter" for="sandwiches">Sandwiches</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="side-dish" name="dishType" v-model="dishType" value="side-dish">
                <label id="item-list-filter" for="side-dish">Side Dish</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="soup" name="dishType" v-model="dishType" value="soup">
                <label id="item-list-filter" for="soup">Soup</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="starter" name="dishType" v-model="dishType" value="starter">
                <label id="item-list-filter" for="starter">Starter</label>
              </div>
            </li>
    
            <li>
              <div @click="updateRecipeFeed()">
                <input type="checkbox" id="sweets" name="dishType" v-model="dishType" value="sweets">
                <label id="item-list-filter" for="sweets">Sweets</label>
              </div>
            </li>

          </ul>
        </li>

        <br>

        <div id="info-food" class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Do you want to access a personalized ingredient analysis? <a href="\login">login</a> or <a href="\signup">signup!</a>
        </div>

      </ul>
      
      <div id="food-search" v-else>

        <div id="info-food" class="alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Try for a food word like 'coffee' for example
        </div>

          <input id="b-busqueda" v-model="keyword" placeholder="Search for food"/>
          <button id="button-busqueda" @click="updateFoodFeed()" type="submit" class="btn btn-success mb-2">
            Search
          </button>
      </div>
    </div>
  
    <div id="cards" v-if="toggle" class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
      <div class="row">
        <div id="card-recipe" class="card col-sm-6 col-md-4 col-lg-3 col-xl-3" v-for="recipe in recipes">
          <img
            @click=goToRecipeDetail(recipe._links.self.href)
            class="card-img-top"
            :src="recipe.recipe.image"
            alt="Card image cap"
          />
          <div @click=goToRecipeDetail(recipe._links.self.href) class="card-body">{{ recipe.recipe.label }}</div>
        </div>
      </div>
      <br>
          <div class="d-flex justify-content-center">

            <div class="btn-group" id="pagination" role="group" aria-label="Basic example">
              <button class="btn btn-success" type="button" @click="nextPage(0, currentRData)" class="btn btn-secondary">Previous</button>
              <button class="btn btn-success" type="button" @click="nextPage(1, currentRData)" class="btn btn-secondary">Next</button>
            </div>

          </div>

          <br>
    </div>
  
    <div id="cards" v-else class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
      <!-- <div>
        <p>{{ keyword }}</p>
      </div> -->
      <div class="row">
        <div id="card-recipe" class="card col-sm-6 col-md-4 col-lg-3 col-xl-3" v-for="food in foods">
          <img
            @click=goToFoodDetail(food.food.foodId)
            class="card-img-top"
            :src="food.food.image"
            alt="Card image cap"
          />
          <div @click=goToFoodDetail(food.food.foodId) class="card-body">
            {{ food.food.label }}            
            <!-- <span>Measure is: {{ measure }}</span>  -->
          </div>

          <div class="card-body">
            <!-- <span id="measure-title">Measures</span> -->
            <div id="measures" v-for="msure in food.measures">
              <input type="radio" :id="msure.label" :value="msure.uri" v-model="measure"/>
              <label :for="msure.label">
                {{ msure.label }}
              </label>
            </div>
            
          </div>

        </div>

      </div>

      <br>

    </div>

  </div>

</div>



  
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>