<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&family=Montserrat:wght@100;500&family=Oxygen:wght@300&display=swap" rel="stylesheet">

<div id="food-detail" v-cloak>

  <!-- <h1>OUTSIDE</h1> -->

  <div class="d-flex justify-content-center">
    <div>
      <div id="food-title">
        <span @click="testing()">FOOD DETAIL 
          <br>
          <p id="name-food">
            {{food.ingredients[0].parsed[0].food}}
          </p>
          <p id="measure-food">
            Measure: <span id="type-measure">{{food.ingredients[0].parsed[0].measure}}</span>
          </p>
        </span>
      </div>

      <table id="details" class="table">
        <thead>
          <tr>
            <!-- <th>#</th> -->
            <th>Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>Calories</td>
            <td>{{food.calories}}</td>
          </tr>
          <tr>
            <!-- <th scope="row">2</th> -->
            <td>Total Weight</td>
            <td>{{food.totalWeight}}</td> <!--span id="type-measure">{{food.ingredients[0].parsed[0].measure}}</span-->
          </tr>
          <tr v-for="nutrient in food.totalNutrients">
            <!-- <th scope="row">1</th> -->
            <td>{{nutrient.label}}</td>
            <td>{{nutrient.quantity}} {{nutrient.unit}}</td>
          </tr>
        </tbody>
      </table>    
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
